body{font-family: 'Noto Sans JP', sans-serif;
	text-align: center;}
h1 {font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	color: #6600cc;
	text-align: center;}
h2 {text-align: center;
	color: #9966ff;}
div {text-align: left;}
ul{list-style-type: square;}
a:hover {
  color: orange;}







